= render 'shared/breadcrumb',links: [["首页",""]]
%section#new_user.box
  %h2  新用户注册
  亲，南翔集团论坛需要实名注册后才能访问哦!
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    .control-group
      = f.label :username, "用户名", class: "control-label"
      .control
        = f.text_field :username
      = f.label :password,"密码", class: "control-label" 
      .controls
        =f.password_field :password
      = f.label :password_confirmation ,"重复密码", class: "control-label"
      .controls
        =f.password_field :password_confirmation
      = f.label :netname,"网名", class: "control-label"
      .controls
        =f.text_field :netname
      = f.label :truename,"真实姓名", class: "control-label"
      .controls
        = f.text_field :truename
      = f.label :oacode ,"OA号", class: "control-label"
      .controls
        =f.text_field :oacode

      = f.label :telephone,"联系电话", class: "control-label"
      .controls
        = f.text_field :telephone
      =f.label :email,"Email",class: "control-label"
      .controls
        = f.email_field :email
    .submit-button
      %input(type="submit" value="提交注册信息" class="btn btn-primary")
